<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="pcm.dataprocessing.context.attackeranalysis.launcher.config">
    <booleanAttribute key="Graph Creation" value="false"/>
    <stringAttribute key="Select Allocation Model" value="platform:/resource/org.palladiosimulator.pcm.confidentiality.context.analysis.testmodels/models/powerGrid/powerGrid.allocation"/>
    <stringAttribute key="Select Analysis Type" value="Insider"/>
    <stringAttribute key="Select Attacker Model" value="platform:/resource/org.palladiosimulator.pcm.confidentiality.context.analysis.testmodels/models/powerGrid/My.attacker"/>
    <stringAttribute key="Select Context Model" value="platform:/resource/org.palladiosimulator.pcm.confidentiality.context.analysis.testmodels/models/powerGrid/My.context"/>
    <stringAttribute key="Select Data Model" value=""/>
    <stringAttribute key="Select Modifiaction Model" value="platform:/resource/org.palladiosimulator.pcm.confidentiality.context.analysis.testmodels/models/powerGrid/My.kamp4attackmodificationmarks"/>
    <stringAttribute key="Select Repository Model" value="platform:/resource/org.palladiosimulator.pcm.confidentiality.context.analysis.testmodels/models/powerGrid/powerGrid.repository"/>
    <stringAttribute key="Select Usage Model" value=""/>
</launchConfiguration>
